@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&family=Poppins:wght@200;300;400;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-odd-table: rgba(0, 0, 0, .05);
    --color-title-table:#212529;
  }
}

@layer account-information{
  .info__row{
    width: 100%;
    color: var(--color-title-table);
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5rem;
  }

  .info__row:nth-child(odd){
    background-color: var(--color-odd-table);
  }

  .info__row .info__row__title{
    width: 70%;
    padding:0.75rem;
  }

  .info__row .info__row__data{
    width: 30%;
    padding:0.75rem;
    font-style: italic;
  }
}