@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&family=Poppins:wght@200;300;400;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-odd-table: rgba(0, 0, 0, .05);
    --color-title-table:#212529;
  }
}

@layer account-information{
  .info__row{
    width: 100%;
    color: var(--color-title-table);
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5rem;
  }

  .info__row:nth-child(odd){
    background-color: var(--color-odd-table);
  }

  .info__row .info__row__title{
    width: 60%;
    padding:0.75rem;
  }

  .info__row .info__row__data{
    padding:0.75rem;
    font-style: italic;
    text-align: right;
  }
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #27ae60;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.loader-button {
  width: 25px;
  height: 25px;
  border: 5px solid #27ae60;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

input.defaultCheckbox::before {
	content: url(/svg/checked.svg); 
	color: white;
	opacity: 0; 
	height: 16px; 
	width: 16px;
	position: absolute; 
	left: 50%;
	transform: translate(-50%, 0px);
}

input.defaultCheckboxInline::before {
	content: url(/svg/checked.svg); 
	color: white;
	opacity: 0; 
	height: 16px; 
	width: 16px;
	position: absolute; 
	left: 50%;
	transform: translate(-50%, 0px);
  top:0%;
} 

input:checked.defaultCheckbox::before { 
	opacity: 1;
}

input:checked.defaultCheckboxInline::before { 
	opacity: 1;
}

/* SCROLLBAR */
/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px gray; 
  border-radius: 50px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #32C5D2; 
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #868CFF;
  cursor: pointer;
}
/* END SCROLLBAR */
